.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    flex-basis: calc(33.333% - 10px);
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s;
}

.gallery-image:hover {
    transform: scale(1.02);
    cursor: zoom-in;
}