body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.feedback-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
    background: #fff;
    width: 408px;
    height: 315px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
    gap: 8px;
    width: 360px;
    height: 192px;

}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: 80px;
}

.input-field:nth-child(1) {
    height: 72px;
}

.input-field:nth-child(2) {
    height: 192px;
}

.input-field label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-field input {
    padding-bottom: 8px;
    font-size: 16px;
}

input,
textarea {
    font-family: inherit;
    line-height: inherit;
}

.input-field input,
.input-field textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-field input:focus::placeholder {
    font-family: "Montserrat", sans-serif;
    color: transparent;
    left: 12px;
    
}

.input-field input:focus::before,
.input-field input:not(:placeholder-shown)::before {
    content: 'Type area';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    pointer-events: none;
} 

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 70px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

button:hover {
    background-color: #6c8cff;
}